<%- include('base', { title: 'Profile'}) %>
    <h1 class="my-3" style="font-family: Helvetica, Arial, sans-serif;color:#af0d45;margin-left:25px"><strong>Welcome <%= usrname%>  </strong></h1>
    <a class="btn btn-primary mb-2" style="color:#e6fb0b;background-color:#af0d45;margin-left:25px" href=https://dev-npofkt2fait2dmyy.us.auth0.com/v2/logout?returnTo=https%3A%2F%2Fauthorizationsamlaccessmanagementfoundat.onrender.com/logout&client_id=w3mS9TGUc3huSRcViFeWEhbEYKcsusdE><strong>Logout</strong></a>
    <% if (role.includes('Admin')) { %>
      <!-- Button is added if 'apple' is present in the array -->
      <button class="btn btn-primary mb-2" style="color:#e6fb0b;background-color:#af0d45;margin-left:25px" href="#">Admin link</button>
    <% } else { %>
      <!-- Button is not added if 'apple' is not present in the array -->
      <button class="btn btn-primary mb-2" style="color:#e6fb0b;background-color:#af0d45;margin-left:25px" href="#">Member link</button>
    <% } %>
    <div class="text-center">
        <h3 class="my-3"><strong>Your Saml Response:</strong></h3>
        <div class="card my-5">
        <div class="card-body">
            <p><%=userdetails%></p>
        </div>
        </div>
        <img src="/images/samlflow.jpg" alt="Saml Flow Image">
        <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 1:</h3>
        <h5 class="card-text">User hits: </h5>
        <h5 class="card-text">https://authorizationsamlaccessmanagementfoundat.onrender.com/login</h5>
    </div>
    </div>
    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 2_1:- </h3>
        <h5 class="card-text">User redirected to:</h5>
        <h5 class="card-text">https://dev-npofkt2fait2dmyy.us.auth0.com/samlp/w3mS9TGUc3huSRcViFeWEhbEYKcsusdE?connection=Username-Password-Authentication</h5>
    </div>
    </div>

    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">SAML request :- </h3>
        <p class="card-text"><?xml version="1.0"?><samlp:AuthnRequest xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol" ID="_636dd41bee7c0bf5775d" Version="2.0" IssueInstant="2023-07-24T12:43:32.679Z" ProtocolBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Destination="https://dev-npofkt2fait2dmyy.us.auth0.com/samlp/w3mS9TGUc3huSRcViFeWEhbEYKcsusdE?connection=Username-Password-Authentication" AssertionConsumerServiceURL="https://authorizationsamlaccessmanagementfoundat.onrender.com/callback"><saml:Issuer xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion">https://authorizationsamlaccessmanagementfoundat.onrender.com/callback</saml:Issuer><samlp:NameIDPolicy xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol" Format="urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress" AllowCreate="true"/><samlp:RequestedAuthnContext xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol" Comparison="exact"><saml:AuthnContextClassRef xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion">urn:oasis:names:tc:SAML:2.0:ac:classes:</p>
    </div>
    </div>
    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 3:-</h3>
        <h5 class="card-text">After Certificate Validation User is sent bck to the ACS url i.e. the callback page</h5>
        <h5 class="card-text">https://authorizationsamlaccessmanagementfoundat.onrender.com/callback</h5>
    </div>
    </div>
    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 4:-</h3>
        <h5 class="card-text">The callback Url in turn calls the Profile page Where the Saml Response is shown</h5>
        <h5 class="card-text">https://authorizationsamlaccessmanagementfoundat.onrender.com/profile_with_authorization</h5>
        
<div class="card my-5">
<div class="card-body">
<h3 class="card-title" style="color:#af0d45;">Step 6:-</h3>
<h5 class="card-text">If the Role assigned to the user is <strong>Admin</strong> he is shown the Admin Link else Member link is shown.</h5>
</div>
</div>

    <h3 class="my-3"><strong>Behind The Scenes (Backend):</strong></h3>
    <img src="/images/bts_saml_auth_server.png" alt="Saml Flow Image">
    <img src="/images/bts_saml_web_server.png" alt="Saml Flow Image">
    </div>
